<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- - Application context definition for "springapp" DispatcherServlet. -->
	<bean id="helloController" class="com.gws.zy.controller.HelloController">
	</bean>
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://115.28.149.204:3306/GovernmentWebsite?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;autoReconnectForPools=true">
		</property>
		<property name="username" value="root">
		</property>
		<property name="password" value="a5f3f3d3ac">
		</property>
	</bean>

	<bean id="prodManDao" class="cn.hxex.springapp.db.jdbc.ProductManagerDaoJdbc">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- 视图解析器的配置 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- 资源文件解析器 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>

	<!-- 控制器的配置 -->
	<bean id="productController" class="cn.hxex.springapp.spring.controller.ProductController">
		<property name="productManager">
			<ref bean="prodMan" />
		</property>
	</bean>

	<!-- 产品处理对象的配置 -->
	<bean id="prodMan" class="cn.hxex.springapp.bus.ProductManager">
		<property name="productManagerDao">
			<ref bean="prodManDao" />
		</property>
	</bean>

	<!-- 产品对象的初始化 -->
	<!-- Validator and Form Controller for the "Price Increase" page -->
	<bean id="productAddValidator" class="cn.hxex.springapp.bus.ProductAddValidator" />

	<bean id="productAddForm" class="cn.hxex.springapp.spring.web.ProductAddFormController">
		<property name="sessionForm">
			<value>true</value>
		</property>
		<property name="commandName">
			<value>product</value>
		</property>
		<property name="commandClass">
			<value>cn.hxex.springapp.bus.Product
			</value>
		</property>
		<property name="validator">
			<ref bean="productAddValidator" />
		</property>
		<property name="formView">
			<value>productadd</value>
		</property>
		<property name="successView">
			<value>product.htm</value>
		</property>
		<property name="productManager">
			<ref bean="prodMan" />
		</property>
	</bean>

	<!-- 映射的配置 -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/hello.htm">helloController</prop>
				<prop key="/product.htm">productController</prop>
				<prop key="/productadd.htm">productAddForm</prop>
			</props>
		</property>
	</bean>

</beans>